body {
    font-family: Arial;
    width: 90%;
    margin: auto;
}

.list-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.flower-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
}

.flower-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
